[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg

package-name = pas.plugins.memberapproval

parts +=
    omelette
    test

[versions]
[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
packages = ${instance:location}/lib/python ./

[test]
recipe = collective.xmltestreport
eggs = ${buildout:package-name} [test]
defaults = ['--auto-color', '--auto-progress']
